<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>zakeeha API v1.0</title>
  </head>
  <body>
    <h1>Zakeeha API v1.0</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Description</th>
          <th>Example Request (Using Curl)</th>
          <th>Endpoint Shaghala?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">/all_deroos</th>
          <td>Returns all available lists of deroos whether active or not</td>
          <td>curl http://zakeeha.herokuapp.com/all_deroos</td>
          <td>Fil Eshta</td>
        </tr>
        <tr>
          <th scope="row">/active_deroos</th>
          <td>Returns a list of active deroos only</td>
          <td>curl http://zakeeha.herokuapp.com/active_deroos</td>
          <td>Fil Eshta</td>
        </tr>
        <tr>
          <th scope="row">/inactive_deroos</th>
          <td>Returns a list of inactive deroos only</td>
          <td>curl http://zakeeha.herokuapp.com/inactive_deroos</td>
          <td>Fil Eshta</td>
        </tr>
        <tr>
          <th scope="row">/all_deroos/&lt;scholar_name&gt;</th>
          <td>Returns a list of all deroos by scholar_name</td>
          <td>curl http://zakeeha.herokuapp.com//all_deroos/alhabib</td>
          <td>Fil Eshta</td>
        </tr>
        <tr>
          <th scope="row">/scholar_names</th>
          <td>Returns a list of names for all available scholars</td>
          <td>curl http://zakeeha.herokuapp.com/scholar_names</td>
          <td>Fil Eshta</td>
        </tr>
      </tbody>
    </table>

    <footer class="footer" align="center">
            <a href="https://github.com/Ashmawy/zakeeha"><i class="fab fa-github fa-3x"></i></a><p>&copy; Zakeeha 2018</p>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>